#main_cont{
    width: 100%;
    height:95%;
    margin-top: 30px;
    margin-left: 10px;
    border:1px solid black;
}

#emp_det{
    width: 100%;
    height: 225px;
    margin-top: 30px;
    margin-left: 10px;
    border:2px solid red;
}
#f_emp{
    width: 28%;
    height: 185px;
    margin-top:10px;
    margin-left:1%;
    border:2px solid gray;
}
#s_emp{
    float:left;
    width: 28%;
    height: 185px;
    margin-top:10px;
    margin-left:1%;
    border:2px solid red;
}
#t_emp{
    float:left;
    width: 28%;
    height: 185px;
    margin-top:10px;
    margin-left:1%;
    border:2px solid red;
}
#Kzn_form_det{
    width: 80%;
    height: 100px;
    margin-top: 30px;
    margin-left: 10px;
    border:2px solid gray;
}
#Kzn_opt{
    width: 95%;
    height: 175px;
    margin-top:10px;
    margin-left: 30px;
    border:2px solid red;
}

#avatar1{
    margin-top:0%;
    margin-left:80%;
    width: auto;
    height: auto;
    border:2px solid green;
    top: -50px;
    width: 95px;
    height: 95px;
}
#avatar2{
    margin-top:0%;
    margin-left:50%;
    width: 10%;
    height: 105px;
    /*border:2px solid red; COMMENT OF BORDER IN PICTURE */
    top: -50px;
	width: 95px;
	height: 95px;
}
#avatar3{
    margin-top:0%;
    margin-left:50%;
    width: 10%;
    height: 105px;
    /*border:2px solid red; COMMENT OF BORDER IN PICTURE */
    top: -50px;
	width: 95px;
	height: 95px;
}


#Mybutton{
    height: 1500px;
    margin-top:10px;
    margin-left:1%;
}
